<div class="d-flex justify-content-center bg-light-dark">
  <ul class="nav nav-underline flex-column flex-md-row py-2 py-md-2 text-center" data-bs-theme="dark">
    <li class="nav-item px-md-2">
      <a class="nav-link" routerLink="/my-pizza-ges/prodotti" routerLinkActive="active">Gestisci prodotti</a>
    </li>
    <li class="nav-item px-md-2">
      <a class="nav-link" routerLink="/my-pizza-ges/aggiungi-prodotti" routerLinkActive="active">Aggiungi nuovi
        prodotti</a>
    </li>
    <li class="nav-item px-md-2">
      <a class="nav-link" routerLink="/my-pizza-ges/ingredienti" routerLinkActive="active">Gestisci ingredienti</a>
    </li>
    <li class="nav-item px-md-2">
      <a class="nav-link" routerLink="/my-pizza-ges/gestisci-visualizzazione-menu" routerLinkActive="active">Gestisci
        ordinamento menu</a>
    </li>
  </ul>
</div>
<h1 class="h1 text-white text-center py-4 ">Centro prodotti</h1>
<hr class="hr text-light">
