.fs-title {
  font-size: 3rem;
}

.capitalize {
  text-transform: capitalize;
}

.fs-item-title {
  font-size: 2rem;
}

.margin-fix {
  margin-top: -25px;
}

.fs-item {
  font-size: 1.25rem;
}

.h-spacer {
  height: 60px;
}


