<main class="container-md footer-bottom">
  <h1 class="h1 text-center text-accent my-4">MyPizza</h1>
  <p class="fs-3">Benvenuti! Questo è il prototipo demo di un'app per ordinare per asporto da pizzerie e ristoranti</p>
  <p class="text-accent">Per vedere come funziona l'applicazione lato admin: fai il login con email <em>admin&commat;admin.ad</em> e password <em>ADMIN</em> </p>
  <p class="text-accent">Per vedere come funziona l'applicazione lato cliente: registrati e fai il login. Prova ad ordinare dei prodotti mentre sei loggato come amministratore da un altro browser o da una tab in incognito, così apprezzerai la comunicazione real-time nella gestione degli ordini</p>
  <p>Esistono già servizi come JustEat che svolgono un lavoro simile. Quest'app ha un obiettivo diverso: <strong>
      Esistono molte pizzerie e ristoranti di provincia che non sono coperte da JustEat e hanno i loro personali rider
    </strong></p>
  <p class="fs-3">Questa applicazione è dedicata a tutti i ristoranti e pizzerie di provincia che vogliono gestire gli
    ordini con notifiche in tempo reale
    e permettere ai clienti di ordinare da app anziché da telefono
  </p>
  <p class="fs-3">L'applicazione fornisce un'interfaccia gestionale per il personale del ristorante e un'interfaccia
    user-friendly per il cliente
  </p>
  <p>In questa versione (1.0.0beta4) sono state implementate tutte le funzionalità per: </p>
  <ul>
    <li>Ricevere notifiche di ordine in tempo reale da parte del ristorante</li>
    <li>Accettare o rifiutare un ordine</li>
    <li>Avvisare il cliente che l'ordine è pronto</li>
    <li>Gestire in modo ordinato gli ordini in arrivo, in lavorazione e completati</li>
    <li>Avere a disposizione un'interfaccia pubblica realizzata in server-side-rendering altamente SEO-friendly per
      poter essere facilmente trovati con i motori di ricerca e con velocità di caricamento delle pagine molto alta</li>
    <li>Per quanto riguarda il cliente, egli può comodamente selezionare i prodotti da ordinare e la quantità da una
      pagina realizzata con tecnologia di lazy-loading/infinite scroll dei prodotti; riceverà una notifica quando
      l'ordine sarà stato accettato, e un'altra notifica quando l'ordine sarà pronto e starà per essere consegnato</li>
  </ul>
  <p>Le release future comprenderanno:</p>
  <ul class="mb-5">
    <li>la possibilità per una pizzeria di iscriversi all'app e personalizzare la sezione pubblica; MyPizza è solo un
      Wrapper, un powered By, il sito sarà della pizzeria</li>
    <li>una live chat per permetter di comunicare ad un utente direttamente con il ristorante. Basta con i continui
      squilli del telefono, esistono tecnologie più comode</li>
    <li>un'app mobile realizzata con il framework Ionic per accrescere al massimo l'accessibilità</li>
  </ul>
</main>
