<div class="footer-bottom d-flex justify-content-center align-items-center" *ngIf="!confirm">
  <div class="dark-design form-width">
    <form [formGroup]="registerForm" (submit)="performRegister()">
      <h5 class="h5 text-accent text-center mb-3">Registrati a MyPizza</h5>
      <div class="illustration mb-3">
        <i class="bi bi-r-square-fill"></i>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 px-2">
          <div class="form-group">
            <input
              [ngClass]="{'form-control': true, 'is-valid': isValid('firstName'), 'is-invalid': isInvalid('firstName')}"
              type="text" formControlName="firstName" placeholder="Nome">
          </div>
          <div class="feedback">
            @if(isInvalid('firstName')) {
            <p class="m-0 mb-2 invalid feedback-h">{{errorMsg.firstName}}</p>
            }
            @else {
            <p class="m-0 mb-2 feedback-h"></p>
            }
          </div>
          <div class="form-group">
            <input
              [ngClass]="{'form-control': true, 'is-valid': isValid('lastName'), 'is-invalid': isInvalid('lastName')}"
              type="text" formControlName="lastName" placeholder="Cognome">
          </div>
          <div class="feedback">
            @if(isInvalid('lastName')) {
            <p class="m-0 mb-2 invalid feedback-h">{{errorMsg.lastName}}</p>
            }
            @else {
            <p class="m-0 mb-2 feedback-h"></p>
            }
          </div>
          <div class="form-group">
            <input [ngClass]="{'form-control': true, 'is-valid': isValid('email'), 'is-invalid': isInvalid('email')}"
              type="email" formControlName="email" placeholder="Email">
          </div>
          <div class="feedback">
            @if(isInvalid('email')) {
            <p class="m-0 mb-2 invalid feedback-h">{{errorMsg.email}}</p>
            }
            @else {
            <p class="m-0 mb-2 feedback-h"></p>
            }
          </div>
          <div class="row">
            <div class="col-5">
              <select class="form-select" data-bs-theme="dark" aria-label="Default select example" style="size: 8"
                formControlName="prefix">
                <option selected value="+39">+39</option>
                @for(item of internationalPrefixList; track item) {
                <option [value]="item">{{item}}</option>
                }
              </select>
            </div>
            <div class="col-7">
              <div class="form-group">
                <input
                  [ngClass]="{'form-control': true, 'is-valid': isValid('phoneNumber'), 'is-invalid': isInvalid('phoneNumber')}"
                  type="text" formControlName="phoneNumber" placeholder="Telefono">
              </div>
              <div class="feedback">
                @if(isInvalid('phoneNumber')) {
                <p class="m-0 mb-2 invalid feedback-h">{{errorMsg.phoneNumber}}</p>
                }
                @else {
                <p class="m-0 mb-2 feedback-h"></p>
                }
              </div>
            </div>
          </div>
          <select data-bs-theme="dark" class="form-select" aria-label="Default select example" style="size: 8"
            formControlName="gender">
            <option selected value="0">(genere)</option>
            <option value="F">Donna</option>
            <option value="M">Uomo</option>
          </select>
          <div class="feedback">
            @if(isGenderInvalid()) {
            <p class="m-0 mb-2 invalid feedback-h">Devi selezionare un genere.</p>
            }
            @else {
            <p class="m-0 mb-2 feedback-h"></p>
            }
          </div>
        </div>
        <div class="col-12 col-sm-6 px-2">
          <div formGroupName="address">
            <div class="row">
              <div class="col-7">
                <div class="form-group">
                  <input
                    [ngClass]="{'form-control': true, 'is-valid': isValid('address.road'), 'is-invalid': isInvalid('address.road')}"
                    type="text" formControlName="road" placeholder="Via">
                </div>
                <div class="feedback">
                  @if(isInvalid('address.road')) {
                  <p class="m-0 mb-2 invalid feedback-h">{{errorMsg.road}}</p>
                  }
                  @else {
                  <p class="m-0 mb-2 feedback-h"></p>
                  }
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <input
                    [ngClass]="{'form-control': true, 'is-valid': isValid('address.civic'), 'is-invalid': isInvalid('address.civic')}"
                    type="text" formControlName="civic" placeholder="N°">
                </div>
                <div class="feedback">
                  @if(isInvalid('address.civic')) {
                  <p class="m-0 mb-2 invalid feedback-h">{{errorMsg.civic}}</p>
                  }
                  @else {
                  <p class="m-0 mb-2 feedback-h"></p>
                  }
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Città" aria-label="Number" matInput
                [ngClass]="{'form-control': true, 'is-valid': isValid('address.cityAutocomplete'), 'is-invalid': isInvalid('address.cityAutocomplete')}"
                formControlName="cityAutocomplete" [matAutocomplete]="auto" (input)="onCityInput()">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setCity($event)">
                @for (option of citySetOptions; track option) {
                <mat-option data-bs-theme="dark" [value]="option.autocomplete">{{option.autocomplete}}</mat-option>
                }
              </mat-autocomplete>
            </div>
            <div class="feedback">
              @if(isInvalid('address.cityAutocomplete')) {
              <p class="m-0 mb-2 invalid feedback-h">{{errorMsg.cityAutocomplete}}</p>
              }
              @else {
              <p class="m-0 mb-2 feedback-h"></p>
              }
            </div>
            <input type="hidden" formControlName="city" value="">
            <input type="hidden" formControlName="province" value="">
          </div>
          <div class="form-group">
            <input
              [ngClass]="{'form-control': true, 'is-valid': isValid('password'), 'is-invalid': isInvalid('password')}"
              type="password" formControlName="password" placeholder="Password">
          </div>
          <div class="feedback">
            @if(isInvalid('password')) {
            <p class="m-0 mb-2 invalid feedback-h">{{errorMsg.password}}</p>
            }
            @else {
            <p class="m-0 mb-2 feedback-h"></p>
            }
          </div>
          <div class="form-group">
            <input
              [ngClass]="{'form-control': true, 'is-valid': isValid('confirmPassword') && match, 'is-invalid': isInvalid('confirmPassword') || unmatch}"
              type="password" formControlName="confirmPassword" placeholder="Conferma password">
          </div>
          <div class="feedback">
            @if(isInvalid('confirmPassword') || unmatch) {
            <p class="m-0 mb-2 invalid feedback-h">{{errorMsg.confirmPassword}}</p>
            }
            @else {
            <p class="m-0 mb-2 feedback-h"></p>
            }
          </div>
          <button class="btn btn-primary w-100">Registrati</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="confirm" class="d-flex justify-content-center align-items-center dark-design footer-bottom">
  <div class="my-pizza-card form width">
    <h3 class="h3 text-accent mb-3">
      Ciao {{name}}! La registrazione a MyPizza è avvenuta con successo.
    </h3>
    <p><a routerLink="/login">Vai subito al login</a></p>
  </div>
</div>
