.moderate-yellow {
  color: $yellow-500;
}

.bg-moderate-yellow {
  background-color: $yellow-600;
}

.carminium-red {
  color: $red-600;
}

.my-pizza-blue {
  color: #2980ef;
}

.moderate-green {
  color: $green-400;
}
