.bg-accent-drop {
  background-color: rgba($accent, .83);
  backdrop-filter: blur(12px);
}

.bg-mp-primary-drop {
  background-color: rgba($mp-primary, .65);
  backdrop-filter: blur(12px);
}

.moderate-yellow {
  color: $yellow-500;
}

.bg-moderate-yellow {
  background-color: $yellow-600;
}

.bg-light-dark {
  background-color: $gray-700;
}

.carminium-red {
  color: $red-600;
}

.bg-carminium-red {
  background-color: $red-700;
}

.my-pizza-blue {
  color: #2980ef;
}

.bg-my-pizza-blue {
  background-color: darken(#2980ef, 17%);
}

.moderate-green {
  color: $green-400;
}
