.h {
  min-height: 150px;
  max-height: 300px;
  overflow-y: auto;
}

.transition {
  animation: 0.5s ease-in-out forwards go-down, 0.85s ease-in-out forwards fade-in;
}

.delete {
  animation: 0.5s ease-in-out forwards go-up, 0.35s ease-in-out forwards fade-out;
}

.fade-out-animation {
  animation: 0.5s ease-in-out forwards fade-out;
}

.fade-in-animation {
  animation: 0.5s ease-in-out forwards fade-in;
}

@keyframes go-down {
  from {
    max-height: 0;
  }

  to {
    max-height: 1500ps;
  }
}

@keyframes go-up {
  from {
    max-height: 1500px;
  }

  to {
    max-height: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.order-sets-container {
  display: flex;
  align-items: baseline;
}

.icon-col {
  flex-basis: 50px;
}

.order-sets-col {
  flex: 0 0 calc(100% - 100px)
}

.max-w {
  max-width: 768px;
  width: 96%;
  margin: 0 auto;
}


