<app-full-screen-loader [isLoading]="isLoading && isAdmin === true"></app-full-screen-loader>
<app-access-denied *ngIf="isAdmin === false && useClient"></app-access-denied>
<ng-container *ngIf="isAdmin && useClient">
  <app-product-manager-nav></app-product-manager-nav>
  <div class="container-lg dark-design">
    <div class="my-pizza-card my-5 max-width">
      <div class="row g-2">
        @if (toppings.length === 0 || allViewRemoved()) {
        <div class="col">
          <p>Non sono presenti ingredienti</p>
        </div>
        } @else {

        @for (topping of toppings; track topping; let i = $index) {
        @if(edit[i] === true && topping != true && topping != false) {
        <div
          class="col-12 col-md-6 my-2 py-2 topping-bg">
          <app-topping-save [topping]="topping" [type]="'UPDATE'" [toppingNames]="toppingNames" [i]="i"
            (onUpdate)="updateManage($event)" (onDelete)="deleteManage($event)"
            (onViewRemove)="viewRemoveManage($event)" (onLoading)="isLoading = $event"
            [ngClass]="{'animated': true, 'disappear': disappear, 'delete': deleting}"></app-topping-save>
        </div>
        } @else if(topping === true && !viewRemoved.includes(i)) {
        <div
          class="col-12 col-md-6 my-2 py-2 topping-bg">
          <app-topping-save [type]="'ADD'" [toppingNames]="toppingNames" [i]="i" (onCreate)="createManage($event)"
            (onDelete)="deleteManage($event)" (onViewRemove)="viewRemoveManage($event)"
            (onLoading)="isLoading = $event"
            [ngClass]="{'animated': true, 'disappear': false, 'delete': false}"></app-topping-save>
        </div>
        } @else if (topping != false && topping != true) {
        <div class="col-12 col-md-6 my-2 py-2 topping-bg">
          <div class="mb-2">
            <app-topping-card [topping]="topping"
            [ngClass]="{'animated': true, 'disappear': false, 'delete': false}"></app-topping-card>
          </div>
          <div class="btn-set row g-0 mb-2 d-flex justify-content-center">
            <div
              class="offset-mb-5 offset-sm-6 offset-md-4 offset-lg-6 offset-xl-8 offste-xxl-9 col align-self-center row">
              <div class="col">
                <button class="btn btn-primary" (click)="edit[i] = true"><i class="bi bi-pencil-fill"></i></button>
              </div>
              <div class="col">
                <button class="btn btn-danger" (click)="outsideDeleteManage(i)"><i class="bi bi-trash"></i></button>
              </div>
            </div>

          </div>
        </div>
        }
        }
        }
      </div>
      <div class="add-w d-flex mt-2 col-12">
        <button (click)="createStartManage()"
          class="btn btn-primary d-flex justify-content-center align-items-center gap-2 w-100">
          <i class="bi bi-plus-circle-fill"></i>
          <span>Aggiungi ingrediente</span>
        </button>
      </div>
    </div>
  </div>

</ng-container>
