<app-full-screen-loader [isLoading]="isLoading" *ngIf="useClient"></app-full-screen-loader>
<app-access-denied *ngIf="!isAdmin && useClient"></app-access-denied>
<ng-container *ngIf="isAdmin && useClient">

  <div class="container-lg dark-design">
    <div class="row g-2 my-pizza-card my-5 max-width">
      @if (toppings.length === 0) {
      <div class="col">
        <p>Non sono presenti ingredienti</p>
      </div>
      } @else {
      @for (topping of toppings; track topping; let i = $index) {
      <div class="col-12 col-md-6 my-2 py-2 topping-bg">
        <div class="mb-2">
          <app-topping-card [topping]="topping"></app-topping-card>
        </div>
        <div class="btn-set row g-0 mb-2 d-flex justify-content-center">
          <div
            class="offset-mb-5 offset-sm-6 offset-md-4 offset-lg-6 offset-xl-8 offste-xxl-9 col align-self-center row">
            <div class="col">
              <button class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button>
            </div>
            <div class="col">
              <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </div>
          </div>

        </div>
      </div>
      }
      }
    </div>
  </div>

</ng-container>
