<div class="footer-bottom d-flex justify-content-center align-items-center">
  <div class="dark-design form-width">
    <form [formGroup]="loginForm" (submit)="performLogin()">
      <div class="illustration">
        <i class="bi bi-lock"></i>
      </div>
      <div class="form-group mb-2">
        <input [ngClass]="{'form-control': true, 'is-valid': isValid('email'), 'is-invalid': isInvalid('email')}"
          type="email" formControlName="email" placeholder="Email" (keydown)="validLogin = true">
      </div>
      <div class="form-group mb-1">
        <input [ngClass]="{'form-control': true, 'is-valid': isValid('password'), 'is-invalid': isInvalid('password')}"
          type="password" formControlName="password" placeholder="Password" (keydown)="validLogin = true">
      </div>
      <div class="feedback">
        @if(!valid) {
        <p class="m-0 mb-2 invalid feedback-h">{{errorMsg}}</p>
        }
        @else if (!validLogin) {
        <p class="m-0 mb-2 invalid feedback-h">{{loginErrorMsg}}</p>
        }
        @else {
        <p class="m-0 mb-2 feedback-h"></p>
        }
      </div>
      <div class="form-group mb-2"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
      <div>
        <a href="#" class="mb-2 forgot">Password dimenticata?</a>
        <p class="m-0 mb-2 forgot">oppure</p>
        <div class="form-group m-0"><a class="btn btn-outline-info w-100 btn-block" href="/registrati">Registrati</a>
        </div>
      </div>
    </form>
  </div>
</div>
